<section>
  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
      <mat-form-field>
        <input matInput formControlName="orderId" placeholder="Order Id" required>
        <mat-error *ngIf="form.controls.orderId.invalid && form.controls.orderId.touched">
          <span>Order id required</span>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
    <!-- {{form.value | json}} -->
    <div *ngIf="result">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">userId</th>
            <th scope="col">title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of result; let i = index">
              <td scope="row">{{i}}</td>
            <td scope="row">{{row.userId}}</td>
            <td scope="row">{{row.title}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>