<section>
  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
      <mat-form-field>
        <input matInput formControlName="wroId" placeholder="wro Id" required>
        <mat-error *ngIf="form.controls.wroId.invalid && form.controls.wroId.touched">
          <span>wro id required</span>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  
    <div ngIf="columns" style="overflow-x:scroll;">
      <table class="table table-striped">
        <thead>
           <tr><th scope="col" ngFor="let col of columns">{{col}}</th></tr>
        </thead>
        <tbody>
           <tr ngFor="let obj of result">
              <td scope="row" ngFor="let col of columns"> {{obj[col]}}</td>
           </tr>
        </tbody>
     </table>
    </div>
    <div *ngIf="!isFirstRequest && !result">
      No data found...
 </div>
  </div>
</section>
