<section class="container-fluid">
  <mat-card class="example-card" id="ngTopDiv">
    <div *ngFor="let list of result">
      <h2>{{list.Title}}</h2><br>
      <div class="row">
        <div class="col-md-8">
          <mat-card style="background-color:#92dbe7"><h6>Script : {{list.Script}}</h6> </mat-card> <br>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <mat-slide-toggle class="example-margin" [color]="color" [checked]="true" (change)=allowPagination()>Enable
                Pagination</mat-slide-toggle>
            </div>
            <div class="col-md-6">
              <button mat-stroked-button routerLink="/editorupdate/{{list.ScriptId}}" style="float:left" color="primary">
                <i class="material-icons">edit</i> <span style="font-size: 16px"> Edit</span></button>
            </div>
          </div>
        </div>
      </div>

      <h6>Please type in to investigate {{list.Title}}</h6>
      <div>
        <div [formGroup]="form">
          <div *ngFor="let currentItem of parametersResult; let i = index">
         
            <!--  -->
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-9 customDiv">
                        <label [attr.for]="currentItem.parameterName">{{currentItem.label}}</label>:
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="row">
                      <mat-form-field>
                        <input matInput [formControlName]="currentItem.parameterName" [errorStateMatcher]="matcher"
                          (blur)="onParaBlur(i,$event.target.value)" placeholder="Enter {{currentItem.parameterName}}">
                          <mat-error *ngIf="!isValidation(currentItem.parameterName)">
                              <span>{{currentItem.label}} is required</span>
                            </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="col-md-3 customDiv" *ngIf="!isFirstime">
                    <mat-error *ngIf="!isValidation(currentItem.parameterName)">
                      {{currentItem.label}} is required
                    </mat-error>
                  </div> -->
                </div>
              </div>
            </div>
            <!--  -->

          </div>
        </div>
      </div>
      <div *ngFor="let item of list.Parameters; let i = index">
        <!-- <div class="form-group">
          <label class="control-label col-sm-2">{{item.parameterName}}:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" (blur)="onParaBlur(i,$event.target.value)" placeholder="Enter {{item.parameterName}}" required>
            <span style="color:red" *ngIf="isRequiredException" [innerText]="RequiredMessage"></span>
          </div>
        </div> -->
        <!-- <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                      {{item.parameterName}}:
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" (blur)="onParaBlur(i,$event.target.value)" placeholder="Enter {{item.parameterName}}"
                    required>
                </div>
              </div>
            </div>
          </div>

        </div> -->
      </div>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8 submitModuleScript">
          <button mat-raised-button (click)="formSubmit(key)" color="primary" [disabled]="!form.valid">Submit</button>
        </div>
      </div>

      <!-- <span class="glyphicon glyphicon-export"></span> -->
      <div class="loading-indicator">
        <img src="{{imagePath}}" *ngIf=isSpinnerRunning class="img-responsive center-block" style="padding-bottom:10px;height: 100px;align-content: center"
          alt="logo" />
      </div>
      <div *ngIf="disableDIV">
        <button class="exportbutton" mat-button [matMenuTriggerFor]="menu">Export</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportAsXLSX()">Excel</button>
          <button mat-menu-item (click)="exportAsCSV()">CSV</button>
        </mat-menu>

      </div><br>
    </div>

    <!-- Table to display the grid data for respective Script. -->
    <div>
      <br>
    </div>
    <div>
      <div class="mat-elevation-z8" [hidden]="!disableDIV">
        <div class="col-sm-2">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
          </mat-form-field>
        </div>
        <mat-table id="genericTable" #table matSort [dataSource]="dataSource" style="overflow-x:scroll;">

          <ng-container *ngFor="let thisCol of columnNames; let colIndex = index" matColumnDef="{{thisCol}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{thisCol}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[thisCol]}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnNames;sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
        </mat-table>
        <mat-paginator *ngIf="isAllowPagination" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

      </div>
      <div *ngIf="!isDataFound">
        No data found...
      </div>
    </div>
    <div *ngIf="errorMessage">
      <b>Error : </b> {{errorMessage.message}}
    </div>
  </mat-card>
</section>