<section class="container">
  <p>
    Get the data based on Parameters
  </p>
  <div *ngFor="let list of result">
    <button mat-raised-button routerLink="/editorupdate/{{list.ScriptId}}"  color="accent" style="float:right">Edit!</button>

    <mat-card><b>{{list.Title}} Script :</b> {{list.Script1}} </mat-card> <br>
    <div *ngFor="let item of list.Parameters; let i = index">
      <div>
        {{item.ParameterName}}
      </div>
      <div>
        <input type="text" (blur)="onParaBlur(i,$event.target.value)"><br><br>
      </div>
    </div>
    <button mat-raised-button (click)="formSubmit(key)" color="primary">Submit</button>
    <span class="glyphicon glyphicon-export"></span>
    <div *ngIf="disableDIV">
      <button mat-stroked-button (click)="exportAsXLSX()" class="exportbutton" value="Export to Excel">
          <span class="glyphicon glyphicon-export"></span> Export to Excel</button>
    </div><br>
  </div>

  <!-- Table to display the grid data for respective Script. -->
  <div>
    <!-- {{resultGrid|json}}  -->
    <br>
  </div>
  <div>
    <div class="mat-elevation-z8" [hidden]="!disableDIV">
      <mat-table id="genericTable" #table [dataSource]="dataSource" style="overflow-x:scroll;">

        <ng-container *ngFor="let thisCol of columnNames; let colIndex = index" matColumnDef="{{thisCol}}">
          <mat-header-cell *matHeaderCellDef> {{thisCol}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[thisCol]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
    <div *ngIf="!disableDIV">
      No data found...
    </div>
  </div>

  <div *ngIf="errorMessage">
    <b>Error : </b> {{errorMessage.message}}
  </div>
</section>